<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="input-group">
                <input type="text" [(ngModel)]="twitterHandle" class="form-control" placeholder="Search for..." />
                <span class="input-group-btn">
                <button class="btn btn-default" (click)="getSentiments()" type="button">Get Sentiment</button>
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="color:red">{{twitterHandle}}</h3>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</div>