<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand">SSA</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/search">Search</a></li>
                <li><a routerLink="/history">History</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>