ul.history {
    list-style: none;
    padding: 0;
}
.history li{
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.5em;
    background: #eff;
}
.history li:hover{
    background: lightblue;
}
.history.table tr td .info {
    font-size: .8em;
    padding: 5px 10px;
    width: 220px;
    float: left;
}
.history.table tr td .delete-button {
    float: right;
    font-size: 0.5em;
    padding: 10px 5px;
    padding: 5px;
}