<div class="container-fluid">
    <div *ngIf="loading" class="overlay-loader">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-lg-12 col-md-12">
            <div>{{ error }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div id="chart"></div>
        </div>
    </div>
    <div class="row" style="height:0">
        <div class="col-md-12">
            <button class="btn btn-primary" (click)="toggleTableView()">Toggle Table</button>
            <table [style.visibility]="(tableView)? 'visible': 'hidden'" class="table table-stripped">
                <thead>
                    <th>
                        Score
                    </th>
                    <th>
                        Positive words
                    </th>
                    <th>
                        Negative words
                    </th>
                </thead>
                <tr *ngFor="#tweet1 of tweets">
                    <td>{{tweet1.score}}</td>
                    <td>{{tweet1.positive}}</td>
                    <td>{{tweet1.negative}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>